.burger, .logo, .container2 {
    animation-name: becomeVisible;
    animation-duration: 3s;  
}

.container1  {
    animation-name: changePosition;
    animation-duration: 2s;
}


@keyframes becomeVisible {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

@keyframes changePosition {
    from {
        margin-left: 50px;
    }

    to {
        margin-left: 5%;
    }
}